.css-105qr5e  {
    width: 750px !important;
    min-height: 250px;
    padding: 10px;
}
.parent-modal-title {
    margin-bottom: 10px !important;
}
.parent-modal-description {
    margin: 30px 0px !important;
}